<div class="panel panel-primary">
    <div class="panel-heading">
        Admin page
    </div>
    <div class="panel-body">
        <button class="btn btn-info"
        [routerLink]="['/profile']">
            Profile
        </button>
        <div class="table-responsive">
            <table class="table">
                <thead>
                        <tr>
                            <th> Name</th>
                            <th>Email</th>
                            <th> Role</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let user of allUser">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                        </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>